# Ambiente Virtual do Python
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Imagens enviadas pelos usuários
static/uploads/

# Ignora todo o conteúdo da pasta de avatares...
static/images/avatars/*

# ...EXCETO o avatar padrão, que é parte do app.
!static/images/avatars/default.png
!static/images/avatars/preview.png